@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
}
.glow {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 60px 30px #14b8a6, /* inner white */ 0 0 100px 60px #0891b2,
    /* middle magenta */ 0 0 140px 90px #0284c7; /* outer cyan */
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
